@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	margin: 0px;
	height: auto;
}

body {
	margin-left: 10px;
	height: 100vh;
	min-height: auto;
	color: white;
	font-family: "Raleway";
	background-color: rgb(48, 48, 48);
}

.user {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	font-family: 'Raleway';
}

.left {
	left: 0;
	color: white;
	background-color: rgb(77, 173, 185);
}

.right {
	right: 0;
	color: white;
	background-color: rgb(56, 56, 65);
}

#user-left-elements {
	position: absolute;
	top: 20%;
	left: 20%;
}

#user-right-elements {
	position: absolute;
	top: 24%;
	left: 50%;
	text-align: center;
	align-items: center;
}



.Sign {
	font-size: 36px;
}

input {
	font-size: 1rem;
	font-family: 'Raleway';
	padding: 4px;
	width: 240px;
	text-decoration: none;
	border: none;
	background: none;
	color: grey;
	border-bottom: 1px solid grey;
	outline: none;
}

input:active {
	background: none;
	outline: none;
	border: none;
}

#signup {
	font-size: 1.2rem;
	color: rgb(48, 48, 48);
	background-color: white;
	border: 2px solid white;
}


#login {
	font-size: 1.2rem;
	color: white;
	border: 2px solid grey;
}

input[type="button"] {
	font-size: 1.2rem;
	color: rgb(48, 48, 48);
	background-color: white;
	border: 1px solid white;
}


.sub-title {
	text-align: center;
	padding-bottom: 48px;
	font-size: 48px;
	animation: sub-title 4s;
}

td {
	padding: 15px 15px;
}

tr {
	padding: 15px 15px;
}